*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style: none;
    font-family: 'Space Mono';
}

// White mode
$Blue : #0079FF;
$Placeholder : #697c9a;
$logo : #4b6a9b;
$text : #2b3442;
$fond : #f6f8ff;
$Container : #fefefe;

// Dark mode 
$containerDark : #141d2f;
$PrincipalContainer : #1e24a7;

body{
    background: $fond;
}


main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & section{
    margin:auto;
    width:40%;
    height:80%;
    }
}

// header
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    & .container{
        width:10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} 


